{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitnob API v2",
    "version": "2.0.0",
    "description": "# Bitnob API v2\n\nA single, ready-to-use collection for the Bitnob Core API v2 — balances, payouts, cards, trading, lightning, bulk transfers and more.\n\n## Quick start\n\n1. Set the collection variables:\n   - `base_url` — e.g. `https://api.bitnob.com`\n   - `client_id` — your workspace client id\n   - `client_secret` — your workspace client secret\n2. Run any request. The **collection-level pre-request script** automatically:\n   - generates a fresh `timestamp` + `nonce`,\n   - canonicalises the JSON body (compact form),\n   - computes `HmacSHA256(client_id:timestamp:nonce:body, client_secret)`, and\n   - injects `X-Auth-Client`, `X-Auth-Timestamp`, `X-Auth-Nonce`, `X-Auth-Signature`.\n\nYou never modify headers manually — just edit the body and hit send.\n\n## Conventions\n\n- **Amounts** are in *base units* (whole integers, no decimals). For USDT that's `1 USDT = 1_000_000` units. For BTC that's sats.\n- **`memo`** is only meaningful for chains that require a destination tag (e.g. Stellar). Omit it for Tron/Ethereum.\n- **`reference`** is caller-supplied and should be unique per action for safe retries / idempotency.\n- Most error responses follow RFC 7807 (`type`, `title`, `status`, `detail`, `correlation_id`, `timestamp`).\n\n## Folders\n\nEvery resource lives in its own folder. Happy-path requests come first, followed by list/filter endpoints, then action endpoints (`confirm`, `retry`, `cancel`, etc.).",
    "contact": {
      "name": "Bitnob",
      "url": "https://bitnob.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://bitnob.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.bitnob.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BitnobHmacAuth": []
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Authentication probe for verifying workspace credentials."
    },
    {
      "name": "Balances",
      "description": "Wallet balances per currency for the authenticated workspace."
    },
    {
      "name": "Addresses",
      "description": "On-chain deposit addresses for receiving crypto."
    },
    {
      "name": "Withdrawals",
      "description": "On-chain withdrawals from workspace balance to an external wallet address."
    },
    {
      "name": "Transactions",
      "description": "Unified transaction history across all movement types."
    },
    {
      "name": "Exchange rates",
      "description": "Point-in-time conversion rates between supported currencies."
    },
    {
      "name": "Trading",
      "description": "Spot trading: quotes, orders, scheduled DCA, and target (limit-style) orders."
    },
    {
      "name": "Bulk transfers",
      "description": "Batched disbursements from CSV or inline items, with optional recurring schedules."
    },
    {
      "name": "Virtual accounts",
      "description": "Dedicated NGN bank account numbers issued against a customer. Deposits credit your NGN balance."
    },
    {
      "name": "Cards",
      "description": "Virtual and physical card issuance, funding, controls, and transactions. Amounts are in micro-units of `currency` (1 whole unit = 1,000,000 — e.g. $50.00 on a USD card is `50000000`)."
    },
    {
      "name": "Lightning",
      "description": "Bitcoin Lightning invoices and payments."
    },
    {
      "name": "Customers",
      "description": "Customer lifecycle + KYC geography helpers."
    },
    {
      "name": "Beneficiaries",
      "description": "Saved crypto and fiat payout recipients."
    },
    {
      "name": "Payouts",
      "description": "Fiat payouts to bank accounts and mobile money across supported countries. Flow: **quote → initialize → finalize**."
    }
  ],
  "paths": {
    "/api/whoami": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Who am I",
        "description": "Returns the workspace identity associated with the presented HMAC credentials. Useful as a first call to confirm keys, clock skew, and signature formula are all correct.",
        "operationId": "get_api_whoami",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Authenticated",
                  "data": {
                    "active": true,
                    "active_company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                    "auth_method": "hmac",
                    "client_id": "86f1b05e-2e35-40bf-a85d-fd3de44d216b",
                    "client_name": "vaden travels",
                    "environment": "sandbox",
                    "permissions": null
                  },
                  "timestamp": "2026-06-19T10:39:49.945108267Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "List balances",
        "description": "Returns a paginated balance snapshot per currency. Use it to display wallet balances or reconcile holdings.",
        "operationId": "get_api_balances",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Company balances retrieved successfully",
                  "data": {
                    "accounts": [
                      {
                        "account_id": "d4bde299-c991-48c1-86f5-175ac0bb93bd",
                        "account_number": "3968048558",
                        "currency": "BTC",
                        "ledger_balance": "0",
                        "available_balance": "0",
                        "ledger_balance_formatted": "0.0 BTC",
                        "available_balance_formatted": "0.0 BTC",
                        "created_at": "2026-05-14T22:10:20.074479+00:00"
                      },
                      {
                        "account_id": "c33d126d-07e2-43ae-893e-bd2dbb7a4337",
                        "account_number": "3968048558",
                        "currency": "USDC",
                        "ledger_balance": "2995328",
                        "available_balance": "2995328",
                        "ledger_balance_formatted": "2.995328 USDC",
                        "available_balance_formatted": "2.995328 USDC",
                        "created_at": "2026-05-14T22:10:20.107985+00:00"
                      },
                      {
                        "account_id": "e2154020-2395-419d-b224-ebbaa2d93a3b",
                        "account_number": "3968048558",
                        "currency": "USDT",
                        "ledger_balance": "5017200",
                        "available_balance": "5017200",
                        "ledger_balance_formatted": "5.0172 USDT",
                        "available_balance_formatted": "5.0172 USDT",
                        "created_at": "2026-05-14T22:10:20.139973+00:00"
                      },
                      {
                        "account_id": "a7dfd5e6-f5c8-4738-ab65-b5cf8f61e984",
                        "account_number": "3968048558",
                        "currency": "NGN",
                        "ledger_balance": "0",
                        "available_balance": "0",
                        "ledger_balance_formatted": "0.0 NGN",
                        "available_balance_formatted": "0.0 NGN",
                        "created_at": "2026-06-04T07:35:05.574532+00:00"
                      }
                    ],
                    "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a"
                  },
                  "timestamp": "2026-06-19T10:39:50.811363982Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/balances/{currency}": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Get balance by currency",
        "description": "Single-currency balance (e.g. `USDT`, `BTC`, `USDC`). 404 if the workspace holds no wallet for that currency.",
        "operationId": "get_api_balances_currency",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "currency identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Account balance retrieved successfully",
                  "data": {
                    "account_number": "3968048558",
                    "available_balance": "5017200",
                    "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                    "currency": "USDT",
                    "pending_balance": "0",
                    "total_balance": "5017200"
                  },
                  "timestamp": "2026-06-19T10:39:51.424374223Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/addresses": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Generate address",
        "description": "Provisions a deposit address for the given `chain`. Labels / references are caller metadata — they don't affect the wallet.",
        "operationId": "post_api_addresses",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Address generated successfully",
                  "data": {
                    "id": "019edf77-5761-78c7-a930-4918c2ba470a",
                    "chain": "ethereum",
                    "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                    "address": "0x2a84e1D4eB75B5F7CFc0F00578d7a9641C8c4Dd8",
                    "status": "active",
                    "label": "test-address",
                    "reference": "addr-1781865600"
                  },
                  "timestamp": "2026-06-19T10:40:01.010497229Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string",
                    "example": "ethereum"
                  },
                  "customer_id": {
                    "type": "string",
                    "example": "cust_abc123"
                  },
                  "customer_email": {
                    "type": "string",
                    "example": "john@example.com"
                  },
                  "label": {
                    "type": "string",
                    "example": "USDT deposit address"
                  },
                  "reference": {
                    "type": "string",
                    "example": "ref-addr-001"
                  }
                },
                "required": [
                  "chain",
                  "customer_id",
                  "customer_email",
                  "label",
                  "reference"
                ]
              },
              "example": {
                "chain": "ethereum",
                "label": "test-address",
                "reference": "addr-1781865600"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "List addresses",
        "description": "Paginated list of all provisioned addresses across the workspace.",
        "operationId": "get_api_addresses",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Addresses retrieved successfully",
                  "data": {
                    "addresses": [
                      {
                        "id": "019edf77-5761-78c7-a930-4918c2ba470a",
                        "address": "0x2a84e1D4eB75B5F7CFc0F00578d7a9641C8c4Dd8",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-address",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-19T10:40:00.865575Z",
                        "reference": "addr-1781865600"
                      },
                      {
                        "id": "019edba8-0f16-762c-a701-401f305bb3dd",
                        "address": "0xCb076A040337D74998759e253921a34202C6ffB2",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "USDT deposit address",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T16:54:44.758404Z",
                        "reference": "ADDR_KW71LHGX639B7874L638YNJ85F2F07"
                      },
                      {
                        "id": "019edba1-6b31-7204-8c1d-7a15f4dcab96",
                        "address": "0x53e619C1892AadbFE5a63E3000F3B377Cbba6Ccf",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "audit-eth",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T16:47:29.585132Z",
                        "reference": "ADDR_9253b8598d7f"
                      },
                      {
                        "id": "019edb52-1eed-77b5-8cc3-95f96ae5e042",
                        "address": "0x7d4f031358be8313591E1173cEf31e8Cf9877929",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-polygon",
                        "chain": "polygon",
                        "status": "active",
                        "created_at": "2026-06-18T15:20:52.717505Z",
                        "reference": "ADDR_580477ff14e2"
                      },
                      {
                        "id": "019edb52-1a8f-7583-8d1b-44bd7b0d21a7",
                        "address": "0x15cc319a01a93efda5b198A79545b0165A25F631",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-optimism",
                        "chain": "optimism",
                        "status": "active",
                        "created_at": "2026-06-18T15:20:51.599361Z",
                        "reference": "ADDR_cc52b9f0815e"
                      },
                      {
                        "id": "019edb52-164a-7e6f-af0b-0847e5eff43c",
                        "address": "0x7b5577067aA8317f3e50F98993F0981C975eC8f4",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-ethereum",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T15:20:50.506946Z",
                        "reference": "ADDR_3e94025f7fb6"
                      },
                      {
                        "id": "019edb51-7053-7d5f-bb64-c6d23378174e",
                        "address": "0x6cd491913ec23a016ebE817aA6a895361f7801CC",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-base",
                        "chain": "base",
                        "status": "active",
                        "created_at": "2026-06-18T15:20:08.019876Z",
                        "reference": "ADDR_89b01f678379"
                      },
                      {
                        "id": "019edb51-6be9-7522-a53c-3f4ccf6158f8",
                        "address": "0x3EC916E353C705ef90E4cdD5CF883BF094d5131d",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-avalanche",
                        "chain": "avalanche",
                        "status": "active",
                        "created_at": "2026-06-18T15:20:06.889336Z",
                        "reference": "ADDR_5fe03ba64e74"
                      },
                      {
                        "id": "019edb4f-5640-7055-b82e-e2bb739124a7",
                        "address": "0xE4bED524CD17879072f25AcbB6BCcce0909d6dDf",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-eth",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T15:17:50.272022Z",
                        "reference": "ADDR_94ae49c05fd0"
                      },
                      {
                        "id": "019edb4a-bded-7938-9b64-2d0f25b8e0d5",
                        "address": "0xCc3635182D7c1a5e63224CDbe0DC3f004182e46a",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "USDT deposit address",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T15:12:49.133604Z",
                        "reference": "ADDR_PK72IIBD0083001005350735"
                      },
                      {
                        "id": "019edb2d-b2bb-731c-bc9c-e754b0e0ded3",
                        "address": "0xf5de0571D77576F638670Aef5b13c777C8F29238",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "USDT deposit address",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-18T14:41:05.723204Z",
                        "reference": "ADDR_SI25948234004090013"
                      },
                      {
                        "id": "019e842d-182b-7e78-a702-d25d7db87b21",
                        "address": "0xDE931C2A75042EEd879Ed598dD5d55B5D5eDB3B9",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "t-optimism",
                        "chain": "optimism",
                        "status": "active",
                        "created_at": "2026-06-01T17:13:28.363948Z",
                        "reference": "tr-1780334007416868352-optimism"
                      },
                      {
                        "id": "019e842d-11ab-736c-a655-9e90cfa7e978",
                        "address": "0x1E5D4c21Af9511064Afb3B10E7F601c7700535bB",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "t-avalanche",
                        "chain": "avalanche",
                        "status": "active",
                        "created_at": "2026-06-01T17:13:26.699224Z",
                        "reference": "tr-1780334005813816064-avalanche"
                      },
                      {
                        "id": "019e842d-0ae3-7d83-9069-981796c99c05",
                        "address": "0x83b0892De9A84C8f6D439A8f46607Afd5BE20FBe",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "t-base",
                        "chain": "base",
                        "status": "active",
                        "created_at": "2026-06-01T17:13:24.963885Z",
                        "reference": "tr-1780334003768998144-base"
                      },
                      {
                        "id": "019e842d-03b5-720f-8eb3-70523e2b88c4",
                        "address": "GC2W7P2HNP4QQEMUWP25EMJIUHV4DPJRBDLHECB4EODLLNELFS2ZXYMX",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "t-stellar",
                        "chain": "stellar",
                        "status": "active",
                        "created_at": "2026-06-01T17:13:23.125135Z",
                        "reference": "tr-1780334002332417280-stellar"
                      },
                      {
                        "id": "019e842b-41e5-7dac-9564-83de4d9aa33b",
                        "address": "Gw2Hc9UvK8MwF5EgatdXMnW4ghjMnJq4So7s3Ymwezgk",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-solana",
                        "chain": "solana",
                        "status": "active",
                        "created_at": "2026-06-01T17:11:27.973896Z",
                        "reference": "test-addr-1780333887143947776-solana"
                      },
                      {
                        "id": "019e842b-3a0e-7f39-b682-62681bfeed58",
                        "address": "0x5C88D76afD1BD43cd03C89ecEb1A8ccdA8F46dC4",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-polygon",
                        "chain": "polygon",
                        "status": "active",
                        "created_at": "2026-06-01T17:11:25.966997Z",
                        "reference": "test-addr-1780333884928326400-polygon"
                      },
                      {
                        "id": "019e842b-2fc4-7634-bb92-7456cc5a3dc7",
                        "address": "0x8377544EB6F9291f73e7e78407Bc36978eb28162",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "test-ethereum",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-06-01T17:11:23.332406Z",
                        "reference": "test-addr-1780333882435904000-ethereum"
                      },
                      {
                        "id": "019e560b-78f1-76af-aa48-98fc984e3702",
                        "address": "0x36502198c2a38E535CC687e18b47A49f734F0fa3",
                        "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                        "label": "ADDRESS::STATIC",
                        "chain": "ethereum",
                        "status": "active",
                        "created_at": "2026-05-23T18:14:12.977438Z",
                        "reference": "ADDR_ab6e7df42f25"
                      }
                    ],
                    "next_cursor": "",
                    "has_more": false
                  },
                  "timestamp": "2026-06-19T10:40:01.677696254Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get address by id",
        "description": "Single address by internal id. Useful when reconciling deposits back to a specific address record.",
        "operationId": "get_api_addresses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Address retrieved successfully",
                  "data": {
                    "id": "019edf77-5761-78c7-a930-4918c2ba470a",
                    "address": "0x2a84e1D4eB75B5F7CFc0F00578d7a9641C8c4Dd8",
                    "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                    "label": "test-address",
                    "chain": "ethereum",
                    "status": "active",
                    "created_at": "2026-06-19T10:40:00.865575Z",
                    "reference": "addr-1781865600"
                  },
                  "timestamp": "2026-06-19T10:40:02.298371085Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/addresses/validate": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Validate address",
        "description": "Structural validation for an external address + chain pair. Returns `{valid: true|false}`; does not verify on-chain existence.",
        "operationId": "post_api_addresses_validate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Address validation completed",
                  "data": {
                    "valid": true,
                    "address": "0xd0438C776d03df4FCfF69db78B97e2E6B5Cf033b",
                    "chain": "ethereum"
                  },
                  "timestamp": "2026-06-19T10:40:02.968832668Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "0xd0438C776d03df4FCfF69db78B97e2E6B5Cf033b"
                  },
                  "chain": {
                    "type": "string",
                    "example": "ethereum"
                  }
                },
                "required": [
                  "address",
                  "chain"
                ]
              },
              "example": {
                "address": "0xd0438C776d03df4FCfF69db78B97e2E6B5Cf033b",
                "chain": "ethereum"
              }
            }
          }
        }
      }
    },
    "/api/stablecoins/supported-chains": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Supported chains",
        "description": "Chains accepted by the address endpoints, including display names and precision.",
        "operationId": "get_api_addresses_supported_chains",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Supported chains retrieved successfully",
                  "data": {
                    "chains": [
                      {
                        "chain": "avalanche",
                        "native_token": {
                          "symbol": "AVAX",
                          "decimals": 18
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDT",
                            "decimals": 6
                          },
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "base",
                        "native_token": {
                          "symbol": "ETH",
                          "decimals": 18
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "bitcoin",
                        "native_token": {
                          "symbol": "BTC",
                          "decimals": 8
                        },
                        "stablecoins": []
                      },
                      {
                        "chain": "ethereum",
                        "native_token": {
                          "symbol": "ETH",
                          "decimals": 18
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDT",
                            "decimals": 6
                          },
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "optimism",
                        "native_token": {
                          "symbol": "ETH",
                          "decimals": 18
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDT",
                            "decimals": 6
                          },
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "polygon",
                        "native_token": {
                          "symbol": "POL",
                          "decimals": 18
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDT",
                            "decimals": 6
                          },
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "solana",
                        "native_token": {
                          "symbol": "SOL",
                          "decimals": 9
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDT",
                            "decimals": 6
                          },
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      },
                      {
                        "chain": "stellar",
                        "native_token": {
                          "symbol": "XLM",
                          "decimals": 7
                        },
                        "stablecoins": [
                          {
                            "symbol": "USDC",
                            "decimals": 6
                          }
                        ]
                      }
                    ]
                  },
                  "timestamp": "2026-06-19T10:40:04.611879891Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/withdrawals": {
      "post": {
        "tags": [
          "Withdrawals"
        ],
        "summary": "Initiate withdrawal",
        "description": "Debits the workspace balance and broadcasts a transfer. `amount` is in base units (whole integer). `memo` only applies to chains requiring a destination tag (e.g. Stellar).",
        "operationId": "post_api_withdrawals",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to_address": {
                    "type": "string",
                    "example": "0xd0438C776d03df4FCfF69db78B97e2E6B5Cf033b"
                  },
                  "amount": {
                    "type": "string",
                    "example": "150500000"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USDT"
                  },
                  "chain": {
                    "type": "string",
                    "example": "ethereum"
                  },
                  "reference": {
                    "type": "string",
                    "example": "withdraw-ref-001"
                  },
                  "description": {
                    "type": "string",
                    "example": "Vendor payment"
                  }
                },
                "required": [
                  "to_address",
                  "amount",
                  "currency",
                  "chain",
                  "reference",
                  "description"
                ]
              },
              "example": {
                "to_address": "0xd0438C776d03df4FCfF69db78B97e2E6B5Cf033b",
                "amount": "150500000",
                "currency": "USDT",
                "chain": "ethereum",
                "reference": "withdraw-ref-001",
                "description": "Vendor payment"
              }
            }
          }
        }
      }
    },
    "/api/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "description": "Retrieves a paginated list of transactions, with support for filtering via query parameters. Commonly used to list transaction histories, audit flows, or search for specific transactions across various dimensions.",
        "operationId": "get_api_transactions",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "completed"
            },
            "description": ""
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "50"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Transactions retrieved successfully",
                  "data": {
                    "transactions": [
                      {
                        "transaction_id": "41d289c8-63e2-489c-92b7-b2f45bde891b",
                        "account_number": "3968048558",
                        "currency": "USDC",
                        "type": "CARD_TOPUP",
                        "state": "SETTLED",
                        "amount": "-3000000",
                        "fee": "1000000",
                        "reference": "8684473f-5493-4df0-8a4f-2a9e0ec28cc8",
                        "idempotency_key": "",
                        "trade_id": "",
                        "metadata": {
                          "base_amount": "3000000",
                          "card_id": "a55609b2-8b62-4251-8ec7-b7c0c25f3e85",
                          "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                          "customer_id": "3d470828-daf9-43c5-ba33-77b4d699363a",
                          "fee_amount": "1000000",
                          "operation": "fund",
                          "provider_transaction_id": "mock_tx_824bcbf5-17e7-4acb-b62a-adb996d7abcd",
                          "settled_at": "1779720770",
                          "transaction_id": "078e0597-625f-44d5-b07f-51e0df130933",
                          "tx_id": "078e0597-625f-44d5-b07f-51e0df130933",
                          "type": "CARD_TOPUP"
                        },
                        "created_at": "2026-05-25T14:52:50.484120+00:00",
                        "updated_at": "2026-05-25T14:52:50.579181+00:00",
                        "value_date": "2026-05-25",
                        "amount_formatted": "-3.0 USDC",
                        "fee_formatted": "1.0 USDC",
                        "side": "Debit"
                      },
                      {
                        "transaction_id": "28be8827-fa87-45e6-87e9-d4497a73c789",
                        "account_number": "3968048558",
                        "currency": "USDC",
                        "type": "TRADE_CREDIT",
                        "state": "SETTLED",
                        "amount": "4995328",
                        "fee": "0",
                        "reference": "16183126-3dd5-408a-88ca-8058a4deec17",
                        "idempotency_key": "",
                        "trade_id": "16183126-3dd5-408a-88ca-8058a4deec17",
                        "metadata": {
                          "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                          "fill_id": "589bc6e8-51a1-4725-9637-dd9719895bff",
                          "order_side": "Sell",
                          "order_type": "standard",
                          "settlement_type": "trade_credit"
                        },
                        "created_at": "2026-05-25T14:52:19.516231+00:00",
                        "updated_at": "2026-05-25T14:52:19.516231+00:00",
                        "value_date": "2026-05-25",
                        "amount_formatted": "4.995328 USDC",
                        "fee_formatted": "0.0 USDC",
                        "side": "Credit"
                      },
                      {
                        "transaction_id": "de1f83d4-e771-4937-b281-d39c48eb41e1",
                        "account_number": "3968048558",
                        "currency": "USDT",
                        "type": "TRADE_DEBIT",
                        "state": "SETTLED",
                        "amount": "-5000000",
                        "fee": "0",
                        "reference": "16183126-3dd5-408a-88ca-8058a4deec17",
                        "idempotency_key": "",
                        "trade_id": "16183126-3dd5-408a-88ca-8058a4deec17",
                        "metadata": {
                          "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                          "fill_id": "589bc6e8-51a1-4725-9637-dd9719895bff",
                          "order_id": "16183126-3dd5-408a-88ca-8058a4deec17",
                          "order_side": "Buy",
                          "order_type": "standard",
                          "settled_at": "2026-05-25T14:52:19.391211431+00:00"
                        },
                        "created_at": "2026-05-25T14:52:19.269255+00:00",
                        "updated_at": "2026-05-25T14:52:19.430068+00:00",
                        "value_date": "2026-05-25",
                        "amount_formatted": "-5.0 USDT",
                        "fee_formatted": "0.0 USDT",
                        "side": "Debit"
                      }
                    ],
                    "next_cursor": "eyJjcmVhdGVkX2F0IjoiMjAyNi0wNS0yNVQxNDo1MjoxOS4yNjkyNTVaIiwidHJhbnNhY3Rpb25faWQiOiJkZTFmODNkNC1lNzcxLTQ5MzctYjI4MS1kMzljNDhlYjQxZTEiLCJhc2NlbmRpbmciOmZhbHNlfQ==",
                    "previous_cursor": "",
                    "total_count": 10,
                    "has_more": true
                  },
                  "timestamp": "2026-06-19T10:40:05.927542085Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction by id",
        "description": "Single transaction envelope with full lifecycle metadata.",
        "operationId": "get_api_transactions_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Transaction retrieved successfully",
                  "data": {
                    "transaction_id": "41d289c8-63e2-489c-92b7-b2f45bde891b",
                    "account_number": "3968048558",
                    "currency": "USDC",
                    "type": "CARD_TOPUP",
                    "state": "SETTLED",
                    "amount": "-4000000",
                    "fee": "1000000",
                    "reference": "8684473f-5493-4df0-8a4f-2a9e0ec28cc8",
                    "idempotency_key": "",
                    "trade_id": "",
                    "metadata": {
                      "base_amount": "3000000",
                      "card_id": "a55609b2-8b62-4251-8ec7-b7c0c25f3e85",
                      "company_id": "7a3f909c-1208-42d5-927a-583c41281d8a",
                      "customer_id": "3d470828-daf9-43c5-ba33-77b4d699363a",
                      "fee_amount": "1000000",
                      "operation": "fund",
                      "provider_transaction_id": "mock_tx_824bcbf5-17e7-4acb-b62a-adb996d7abcd",
                      "settled_at": "1779720770",
                      "transaction_id": "078e0597-625f-44d5-b07f-51e0df130933",
                      "tx_id": "078e0597-625f-44d5-b07f-51e0df130933",
                      "type": "CARD_TOPUP"
                    },
                    "created_at": "2026-05-25T14:52:50.484120+00:00",
                    "updated_at": "2026-05-25T14:52:50.579181+00:00",
                    "value_date": "2026-05-25",
                    "amount_formatted": "-4.0 USDC",
                    "fee_formatted": "1.0 USDC",
                    "side": "Debit"
                  },
                  "timestamp": "2026-06-19T10:40:06.83128084Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange-rates": {
      "get": {
        "tags": [
          "Exchange rates"
        ],
        "summary": "Get single-pair rate",
        "description": "Mid-market rate for `from`→`to`.",
        "operationId": "get_api_exchange_rates",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "USDT"
            },
            "description": ""
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NGN"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "single_pair": {
                    "summary": "Single pair (?from=USDT&to=NGN)",
                    "value": {
                      "success": true,
                      "message": "Exchange rate retrieved",
                      "data": {
                        "base_currency": "USDT",
                        "target_currency": "NGN",
                        "buy_rate": "1389.41998218",
                        "sell_rate": "1375.59771120",
                        "mid_rate": "1382.50884669",
                        "inverse_rate": "0.00072696",
                        "timestamp": "2026-06-19T10:39:17Z",
                        "valid_for_seconds": 300,
                        "percent_change_24h": "0.00"
                      },
                      "timestamp": "2026-06-19T10:39:51.990280895Z"
                    }
                  },
                  "list": {
                    "summary": "All rates for a base (?base=USDT)",
                    "value": {
                      "success": true,
                      "message": "Exchange rates retrieved",
                      "data": {
                        "base_currency": "USDT",
                        "rates": [
                          {
                            "target_currency": "USDC",
                            "buy_rate": "1.00324756",
                            "sell_rate": "0.99525356",
                            "inverse_rate": "1.00476908",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "USD",
                            "buy_rate": "1.00400000",
                            "sell_rate": "0.99600000",
                            "inverse_rate": "1.00401606",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "NGN",
                            "buy_rate": "1389.41998218",
                            "sell_rate": "1375.59771120",
                            "inverse_rate": "0.00072696",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "RWF",
                            "buy_rate": "1435.21578016",
                            "sell_rate": "1420.93792200",
                            "inverse_rate": "0.00070376",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "MWK",
                            "buy_rate": "1881.23496000",
                            "sell_rate": "1862.52000000",
                            "inverse_rate": "0.00053691",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "MAD",
                            "buy_rate": "9.15527640",
                            "sell_rate": "9.06419760",
                            "inverse_rate": "0.11032416",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "BTC",
                            "buy_rate": "0.00001608",
                            "sell_rate": "0.00001595",
                            "inverse_rate": "62686.19477895",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "KES",
                            "buy_rate": "129.51548194",
                            "sell_rate": "128.22703200",
                            "inverse_rate": "0.00779867",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "UGX",
                            "buy_rate": "3603.47669345",
                            "sell_rate": "3567.62847480",
                            "inverse_rate": "0.00028030",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "GHS",
                            "buy_rate": "12.04101035",
                            "sell_rate": "11.92122360",
                            "inverse_rate": "0.08388401",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "ZAR",
                            "buy_rate": "16.49702219",
                            "sell_rate": "16.33290600",
                            "inverse_rate": "0.06122609",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "TZS",
                            "buy_rate": "2674.77407040",
                            "sell_rate": "2648.16480000",
                            "inverse_rate": "0.00037762",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "GNF",
                            "buy_rate": "9563.11204800",
                            "sell_rate": "9467.97600000",
                            "inverse_rate": "0.00010562",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "CFA",
                            "buy_rate": "567.67421827",
                            "sell_rate": "562.02686400",
                            "inverse_rate": "0.00177927",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "XAF",
                            "buy_rate": "587.50867200",
                            "sell_rate": "581.66400000",
                            "inverse_rate": "0.00171921",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "ZMW",
                            "buy_rate": "18.59434767",
                            "sell_rate": "18.40936680",
                            "inverse_rate": "0.05432017",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "GMD",
                            "buy_rate": "72.54021886",
                            "sell_rate": "71.81857200",
                            "inverse_rate": "0.01392397",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "CDF",
                            "buy_rate": "2306.72996703",
                            "sell_rate": "2283.78208440",
                            "inverse_rate": "0.00043787",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "XOF",
                            "buy_rate": "580.74829824",
                            "sell_rate": "574.97088000",
                            "inverse_rate": "0.00173922",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "EGP",
                            "buy_rate": "48.41624762",
                            "sell_rate": "47.93459160",
                            "inverse_rate": "0.02086176",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "SLE",
                            "buy_rate": "23.46413059",
                            "sell_rate": "23.23070400",
                            "inverse_rate": "0.04304648",
                            "percent_change_24h": "0.00"
                          },
                          {
                            "target_currency": "ETB",
                            "buy_rate": "150.54135094",
                            "sell_rate": "149.04373080",
                            "inverse_rate": "0.00670944",
                            "percent_change_24h": "0.00"
                          }
                        ],
                        "timestamp": "2026-06-19T10:39:17Z",
                        "skipped_currencies": [
                          "GBP: rate not available: GBP",
                          "EUR: rate not available: EUR"
                        ]
                      },
                      "timestamp": "2026-06-19T10:39:52.616058133Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange-rates/convert": {
      "get": {
        "tags": [
          "Exchange rates"
        ],
        "summary": "Convert amount",
        "description": "Applies the current rate to `amount` (in `from` display units) and returns the converted value + effective rate.",
        "operationId": "get_api_exchange_rates_convert",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "USDT"
            },
            "description": ""
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NGN"
            },
            "description": ""
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "100"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Amount converted",
                  "data": {
                    "from_currency": "USDT",
                    "to_currency": "NGN",
                    "from_amount": "100",
                    "to_amount": "137559.77112",
                    "rate_used": "1375.59771120",
                    "timestamp": "2026-06-19T10:39:17Z"
                  },
                  "timestamp": "2026-06-19T10:39:53.318011355Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/prices": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "List all prices",
        "description": "Returns every available pair with its current mid-price.",
        "operationId": "get_api_trading_prices",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "examples": {
                  "all_prices": {
                    "summary": "All prices (no query)",
                    "value": {
                      "success": true,
                      "message": "Prices retrieved successfully",
                      "data": {
                        "prices": [
                          {
                            "base_currency": "BTC",
                            "quote_currency": "USDT",
                            "price": "62417.750",
                            "as_of": "2026-06-19T10:46:51.580595150Z"
                          },
                          {
                            "base_currency": "USDC",
                            "quote_currency": "USDT",
                            "price": "1.000650",
                            "as_of": "2026-06-19T10:46:51.577466470Z"
                          },
                          {
                            "base_currency": "BTC",
                            "quote_currency": "USDC",
                            "price": "62376.84500000",
                            "as_of": "2026-06-19T10:46:51.670952569Z"
                          }
                        ]
                      },
                      "timestamp": "2026-06-19T10:46:51.705593374Z"
                    }
                  },
                  "by_pair": {
                    "summary": "Single pair (?base_currency=BTC&quote_currency=USDT)",
                    "value": {
                      "success": true,
                      "message": "Price retrieved successfully",
                      "data": {
                        "price": {
                          "base_currency": "BTC",
                          "quote_currency": "USDT",
                          "price": "62460.650",
                          "as_of": "2026-06-19T10:50:02.880752101Z"
                        }
                      },
                      "timestamp": "2026-06-19T10:50:02.922017174Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/prices/{pair}": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get price by pair",
        "description": "Spot price for a single pair (e.g. `BTCUSD`, `ETHUSD`).",
        "operationId": "get_api_trading_prices_pair",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "pair identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/quotes": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Create quote",
        "description": "Requests a locked quote for a BUY or SELL. The returned `quote_id` must be submitted with a matching order before it expires. NGN (Fiat Trading) pairs are supported; see the fiatTradingNgn example.",
        "operationId": "post_api_trading_quotes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Quote retrieved successfully",
                  "data": {
                    "quote": {
                      "id": "ebdb4c91-9180-4cee-8e45-08ca96561d45",
                      "base_currency": "BTC",
                      "quote_currency": "USDT",
                      "side": "BUY",
                      "quantity": "0.001",
                      "price": "62502.397625",
                      "expires_at": "2026-06-19T10:51:49.848650039Z",
                      "created_at": "2026-06-19T10:46:52.848650229Z",
                      "original_quantity": "0.001",
                      "consumed_quantity": "0",
                      "remaining_quantity": "0.001",
                      "is_exhausted": false,
                      "exchange": {
                        "send_quantity": "62.502398",
                        "send_currency": "USDT",
                        "receive_quantity": "0.001",
                        "receive_currency": "BTC"
                      }
                    }
                  },
                  "timestamp": "2026-06-19T10:46:52.85245707Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_currency": {
                    "type": "string",
                    "example": "BTC"
                  },
                  "quote_currency": {
                    "type": "string",
                    "example": "USDT"
                  },
                  "side": {
                    "type": "string",
                    "example": "BUY"
                  },
                  "quantity": {
                    "type": "string",
                    "example": "0.05"
                  },
                  "quantity_in_base_units": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "base_currency",
                  "quote_currency",
                  "side",
                  "quantity"
                ]
              },
              "examples": {
                "crypto": {
                  "summary": "Crypto pair (BTC/USDT)",
                  "value": {
                    "base_currency": "BTC",
                    "quote_currency": "USDT",
                    "side": "BUY",
                    "quantity": "0.001"
                  }
                },
                "fiatTradingNgn": {
                  "summary": "Fiat Trading — NGN → USDT",
                  "value": {
                    "base_currency": "NGN",
                    "quote_currency": "USDT",
                    "side": "SELL",
                    "quantity": "500"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/quotes/{id}": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get quote status",
        "description": "Check remaining TTL and fulfilment state for an outstanding quote.",
        "operationId": "get_api_trading_quotes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Quote status retrieved successfully",
                  "data": {
                    "quote_id": "7c89c962-535b-4860-9b77-499580523299",
                    "original_quantity": "0.00002000",
                    "consumed_quantity": "0",
                    "remaining_quantity": "0.00002000",
                    "price": "62701.15567500",
                    "expires_at": "2026-06-19T11:58:20.346923000Z",
                    "is_expired": false,
                    "is_exhausted": false,
                    "consumption_count": "0"
                  },
                  "timestamp": "2026-06-19T11:53:21.142152573Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/orders": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Submit order",
        "description": "Execute a BUY or SELL. Supply the `quote_id` from a fresh quote for best pricing. NGN (Fiat Trading) pairs are supported; see the fiatTradingNgn example.",
        "operationId": "post_api_trading_orders",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Order submitted successfully",
                  "data": {
                    "order": {
                      "id": "19f1a289-ee9a-4ea4-a305-9bbeef5d65d6",
                      "base_currency": "BTC",
                      "quote_currency": "USDT",
                      "side": "BUY",
                      "order_type": "limit",
                      "quantity": "0.00002",
                      "price": "62732.69662500",
                      "status": "pending",
                      "created_at": "2026-06-19T11:24:37.773209979Z",
                      "updated_at": "2026-06-19T11:24:37.773209979Z",
                      "filled_quantity": "0.00002",
                      "remaining_quantity": "0",
                      "quote_id": "fd4e18d5-7075-458f-b333-cab9ae490b03",
                      "reference": "order-1781868277"
                    },
                    "fills": [
                      {
                        "id": "6ad2659c-b94d-4a97-abf0-87d829acef04",
                        "order_id": "19f1a289-ee9a-4ea4-a305-9bbeef5d65d6",
                        "counterparty_order_id": "",
                        "quantity": "0.00002",
                        "created_at": "2026-06-19T11:24:38.491864071Z"
                      }
                    ],
                    "quote_consumption": {
                      "quote_id": "fd4e18d5-7075-458f-b333-cab9ae490b03",
                      "consumed_quantity": "0.00002",
                      "remaining_quantity": "0",
                      "is_exhausted": true
                    }
                  },
                  "timestamp": "2026-06-19T11:24:38.520718534Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_currency": {
                    "type": "string",
                    "example": "BTC"
                  },
                  "quote_currency": {
                    "type": "string",
                    "example": "USDT"
                  },
                  "side": {
                    "type": "string",
                    "example": "BUY"
                  },
                  "quantity": {
                    "type": "string",
                    "example": "0.05"
                  },
                  "quote_id": {
                    "type": "string",
                    "example": "{{quote_id}}"
                  },
                  "reference": {
                    "type": "string",
                    "example": "order-ref-001"
                  },
                  "price": {
                    "type": "string",
                    "example": "0.00071644"
                  },
                  "quantity_in_base_units": {
                    "type": "boolean",
                    "example": false
                  }
                },
                "required": [
                  "base_currency",
                  "quote_currency",
                  "side",
                  "quantity",
                  "quote_id",
                  "reference"
                ]
              },
              "examples": {
                "crypto": {
                  "summary": "Crypto pair (BTC/USDT)",
                  "value": {
                    "base_currency": "BTC",
                    "quote_currency": "USDT",
                    "side": "BUY",
                    "quantity": "0.00002",
                    "quote_id": "fd4e18d5-7075-458f-b333-cab9ae490b03",
                    "reference": "order-1781868277"
                  }
                },
                "fiatTradingNgn": {
                  "summary": "Fiat Trading — NGN → USDT",
                  "value": {
                    "base_currency": "NGN",
                    "quote_currency": "USDT",
                    "side": "SELL",
                    "quantity": "500",
                    "price": "0.00071644",
                    "quote_id": "019f90ed-d7da-7e55-b4ca-9b26b4a75a13",
                    "quantity_in_base_units": false,
                    "reference": "SWAP_HR8407809450082600756"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "List orders",
        "description": "Paginated order history with optional filters.",
        "operationId": "get_api_trading_orders",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "filled"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "50"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Orders retrieved successfully",
                  "data": {
                    "orders": [
                      {
                        "id": "16183126-3dd5-408a-88ca-8058a4deec17",
                        "base_currency": "USDT",
                        "quote_currency": "USDC",
                        "side": "SELL",
                        "order_type": "limit",
                        "quantity": "5",
                        "price": "1.00093517",
                        "status": "cancelled",
                        "created_at": "2026-05-25T14:52:18.904607000Z",
                        "updated_at": "2026-06-18T15:55:39.211899000Z",
                        "filled_quantity": "4.9999994808857600",
                        "remaining_quantity": "0",
                        "quote_id": "",
                        "reference": "16183126-3dd5-408a-88ca-8058a4deec17"
                      },
                      {
                        "id": "d9c20515-0329-444c-9a67-e84f89f42e0a",
                        "base_currency": "USDT",
                        "quote_currency": "USDC",
                        "side": "SELL",
                        "order_type": "limit",
                        "quantity": "10",
                        "price": "1.00093517",
                        "status": "filled",
                        "created_at": "2026-05-25T14:44:30.992400000Z",
                        "updated_at": "2026-05-25T14:44:32.251005000Z",
                        "filled_quantity": "9.0084165300000000",
                        "remaining_quantity": "0.9915834327066900",
                        "quote_id": "c80918d8-964e-4c8a-af17-9b4f5a0523e0",
                        "reference": "d9c20515-0329-444c-9a67-e84f89f42e0a"
                      },
                      {
                        "id": "54c354ba-cb3a-4cff-a995-5eff9feee37d",
                        "base_currency": "USDC",
                        "quote_currency": "USDT",
                        "side": "SELL",
                        "order_type": "limit",
                        "quantity": "20.00000000",
                        "price": "1.00061478",
                        "status": "filled",
                        "created_at": "2026-05-23T18:18:06.404310000Z",
                        "updated_at": "2026-05-23T18:18:07.377607000Z",
                        "filled_quantity": "20.00000000",
                        "remaining_quantity": "0",
                        "quote_id": "19c44dc8-b0d5-4777-a452-ed2a0fe84549",
                        "reference": "54c354ba-cb3a-4cff-a995-5eff9feee37d"
                      }
                    ],
                    "total_count": "3",
                    "has_more": false,
                    "next_cursor": ""
                  },
                  "timestamp": "2026-06-19T10:46:53.757762926Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (bad HMAC signature or client id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trading/orders/{id}": {
      "get": {
        "tags": [
          "Trading"
        ],
        "summary": "Get order by id or reference",
        "description": "Fetch an individual order by its id or your supplied reference.",
        "operationId": "get_api_trading_orders_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Order retrieved successfully",
                  "data": {
                    "order": {
                      "id": "19f1a289-ee9a-4ea4-a305-9bbeef5d65d6",
                      "base_currency": "BTC",
                      "quote_currency": "USDT",
                      "side": "BUY",
                      "order_type": "limit",
                      "quantity": "0.00002000",
                      "price": "62732.69662500",
                      "status": "pending",
[...]
